<ion-header>
  <ion-navbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <strong class="title">Address :-</strong> 2nd floor , OFFICE no 10, Karma point , Vasco Ga Gama , South - Goa. <br>
  <strong class="title">Pincode :-</strong> 403803<br>
  <strong class="title">SITE:-</strong> www.pragatitimes.com <br>
  <strong class="title">Facebook page :-</strong> https://www.facebook.com/pragatitimes/<br>
  <strong class="title">Twitter page :-</strong> https://twitter.com/pragatitimes/<br>
  <strong class="title">Youtube channel :-</strong>  Pragati Times<br> 
  <strong class="title">Telephone no:-</strong> 0832-2501012 <br>
  <strong class="title">Phone no:-</strong> 9850645098<br>
  <strong class="title">Mail :-</strong> pragatitimes2015@gmail.com
  
</ion-content>
