@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
page-home {
  font-family: 'Roboto', sans-serif;
  .content-wrapper { 
    float:left; 
    width:300px;
    p{
      padding-bottom:2px;
      line-height:4px;
    }
  }
  .image-wrapper img { border-radius:50%; }
  #alignPhoto {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


    #container {
        text-align: center;
      
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .content-md{
        background-color:#F0F2F5;
        .card-title-md{
          font-size:15px;
        }
        .button-md{
            height:17px !important;
            ion-icon{
              padding-left:0px !important;
              font-size:18px !important;
            }
        }
        ion-card-title{
          font-size:12px;
          font-weight:bold;
        }
        ion-card{
          border-radius:14px;
        }
        .swiper-slide img{
          border-radius: 27px;
          // width:373px !important;
          // height:179px !important;
        }

        .segment-md .segment-button{
          padding-left:2px !important;
          padding-right:2px !important;
        }

      }
      .slides{
        //width:95%;
        border-radius:10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3px;

      }
      #container strong {
        font-size: 20px;
        line-height: 26px;
      }
      
      #container p {
        font-size: 16px;
        line-height: 22px;
      
        color: #8c8c8c;
      
        margin: 0;
      }
      
      #container a {
        text-decoration: none;
      }
      
      #background-content{
        background-color:#DCDCDC !important;
      }
      // Slider Style START 
      .custon-nav{
        height: 48px;
        width: 20px;
        cursor: pointer;
      
        vertical-align: middle;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      

      .slider-nav{
        ion-icon{
            height: 100%;
        }
      }
      
      .slide-text{
        position: absolute;
        color: #000;
        bottom: 10px;
        margin: 0 auto;
        z-index: 999;
        left: 0;
        right: 0;
        top: 70%; 
        width:100%;
        font-size:20px;
        padding:5px;
        background:rgba(255,255,255,0.8);
        text-align: center;

      }
      
      b {
        font-weight: 500;
      }
      
      p {
        padding: 0 10px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
      
        b {
          color: #000000;
        }
      }
      

}
