<!-- home.page.html -->
<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/pragatitimes.png" alt="">
        </ion-col>
        <ion-col col-9>

          <div id="alignPhoto">
            <div class="content-wrapper">
                <p>{{ this.weatherTemp }} &#8451;</p>
                <p>{{ this.time}}</p>
                <p>{{ this.weatherText}}</p>
            </div>
            <div class="image-wrapper" id="image" role="image">
              <img src="{{ weatherIcon }}" alt="temp">
            </div>
        </div>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides *ngIf="slider && slider.length" spaceBetween="8" slidesPerView="1" autoplay="40" loop="true" speed="3000" centeredSlides="true">
           <!-- autoplay="40" -->
          <ion-slide *ngFor="let s of slider" class="slides" (click)="pushPage(s.id)">
            <!-- <img src="{{ s.image }}" width="323" height="179"> -->
            <div [ngStyle]="{'background-image': 'url(' + s?.image + ')','background-size':'cover', 'background-position': 'center center','background-repeat':'no-repeat','width':'100%','height':'50vh','max-height':'400px','border-radius':'25px'}">
              <span class="slide-text">{{ s.title }}</span>
            </div>

           
          </ion-slide>
        </ion-slides> 
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-segment [(ngModel)]="type_tab" color="primary" >
    <ion-segment-button value="home" (click)="fetchTabData('0')"><img src="assets/imgs/home.png" alt=""></ion-segment-button>
    <ion-segment-button value="goa" (click)="fetchTabData('126')">गोवा</ion-segment-button>
    <ion-segment-button value="india" (click)="fetchTabData('114')">देश</ion-segment-button>
    <ion-segment-button value="business" (click)="fetchTabData('124')">व्यापार</ion-segment-button>
    <ion-segment-button value="entertainment" (click)="fetchTabData('116')">मनोरंजन</ion-segment-button>
    <ion-segment-button value="politics" (click)="fetchTabData('115')">राजनीति</ion-segment-button>
    <ion-segment-button value="world" (click)="fetchTabData('121')">विदेश</ion-segment-button>
    <ion-segment-button value="sports" (click)="fetchTabData('120')">स्पोर्ट्स</ion-segment-button>
    </ion-segment>
   
    <div [ngSwitch]="type_tab">
      <div class="weapper" *ngSwitchCase="'home'" style="padding-top:5px;">
        <ion-card *ngFor="let car of newsList,let i = index;">
        <ion-row style="text-align: center;" >
          <ion-col col-5 [ngStyle]="{'background-image': 'url(' + car?.image + ')','background-size':'cover'}">
          </ion-col>
          <ion-col col-7>
            <ion-card-title (click)="pushPage(car.id)">{{car.title}}</ion-card-title>
                  <div class="shareicon">
                  <button ion-button icon-only (click)="whatsappShare(i)" style="color:green" clear>
                    <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                  </button>
                  <!--<button ion-button icon-only (click)="facebookShare(i)" style="color:blue" clear>
                    <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
                  </button>-->
                  <button ion-button icon-only (click)="twitterShare(i)" style="color:blue" clear>
                    <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                  </button>
                </div>
          </ion-col>
        </ion-row> 
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event,0)">
          <ion-infinite-scroll-content loadingSpinner="circular" loadingText="Loading more data..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
    </div>
  
    <div [ngSwitch]="type_tab">
      <div class="weapper" *ngSwitchCase="'goa'" style="padding-top: 5px;">
       
            <ion-card *ngFor="let car of newsList,let i = index;">
            <ion-row style="text-align: center;" >
              <ion-col col-5 [ngStyle]="{'background-image': 'url(' + car?.image + ')','background-size':'cover'}">
              </ion-col>
              <ion-col col-7>
                <ion-card-title (click)="pushPage(car.id)">{{car.title}}</ion-card-title>
                      <div class="shareicon">
                      <button ion-button icon-only (click)="whatsappShare(i)" style="color:green" clear>
                        <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                      </button>
                      <!--<button ion-button icon-only (click)="facebookShare(i)" style="color:blue" clear>
                        <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
                      </button>-->
                      <button ion-button icon-only (click)="twitterShare(i)" style="color:blue" clear>
                        <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                      </button>
                    </div>
              </ion-col>
            </ion-row> 
            </ion-card>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event,126)">
              <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          
      </div>
    </div>
  
    <div [ngSwitch]="type_tab">
      <div class="weapper" *ngSwitchCase="'india'" style="padding-top: 5px;">
        <ion-card *ngFor="let car of newsList,let i = index;">
            <ion-row style="text-align: center;" >
              <ion-col col-5 [ngStyle]="{'background-image': 'url(' + car?.image + ')','background-size':'cover'}">
              </ion-col>
              <ion-col col-7>
                <ion-card-title (click)="pushPage(car.id)">{{car.title}}</ion-card-title>
                      <div class="shareicon">
                      <button ion-button icon-only (click)="whatsappShare(i)" style="color:green" clear>
                        <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                      </button>
                      <!--<button ion-button icon-only (click)="facebookShare(i)" style="color:blue" clear>
                        <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
                      </button>-->
                      <button ion-button icon-only (click)="twitterShare(i)" style="color:blue" clear>
                        <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                      </button>
                    </div>
              </ion-col>
            </ion-row> 
            </ion-card>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event,114)">
              <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
            </ion-infinite-scroll>
      </div>
    </div>

    <div [ngSwitch]="type_tab">
      <div class="weapper" *ngSwitchCase="'business'" style="padding-top: 5px;">
        <ion-card *ngFor="let car of newsList,let i = index;">
          <ion-row style="text-align: center;" >
            <ion-col col-5 [ngStyle]="{'background-image': 'url(' + car?.image + ')','background-size':'cover'}">
            </ion-col>
            <ion-col col-7>
              <ion-card-title  (click)="pushPage(car.id)">{{car.title}}</ion-card-title>
                    <div class="shareicon">
                    <button ion-button icon-only (click)="whatsappShare(i)" style="color:green" clear>
                      <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                    </button>
                    <!--<button ion-button icon-only (click)="facebookShare(i)" style="color:blue" clear>
                      <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
                    </button>-->
                    <button ion-button icon-only (click)="twitterShare(i)" style="color:blue" clear>
                      <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                    </button>
                  </div>
            </ion-col>
          </ion-row> 
          </ion-card>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event,124)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </div>
    </div>
    <div [ngSwitch]="type_tab">
      <div class="weapper" *ngSwitchCase="'entertainment'" style="padding-top:5px;">
        <ion-card *ngFor="let car of newsList,let i = index;">
          <ion-row style="text-align: center;" >
            <ion-col col-5 [ngStyle]="{'background-image': 'url(' + car?.image + ')','background-size':'cover'}">
            </ion-col>
            <ion-col col-7>
              <ion-card-title  (click)="pushPage(car.id)">{{car.title}}</ion-card-title>
                    <div class="shareicon">
                    <button ion-button icon-only (click)="whatsappShare(i)" style="color:green" clear>
                      <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                    </button>
                    <!--<button ion-button icon-only (click)="facebookShare(i)" style="color:blue" clear>
                      <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
                    </button>-->
                    <button ion-button icon-only (click)="twitterShare(i)" style="color:blue" clear>
                      <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                    </button>
                  </div>
            </ion-col>
          </ion-row> 
          </ion-card>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event,116)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </div>
    </div>
    <div [ngSwitch]="type_tab">
      <div class="weapper" *ngSwitchCase="'politics'" style="padding-top: 5px;">
        <ion-card *ngFor="let car of newsList,let i = index;">
          <ion-row style="text-align: center;" >
            <ion-col col-5 [ngStyle]="{'background-image': 'url(' + car?.image + ')','background-size':'cover'}">
            </ion-col>
            <ion-col col-7>
              <ion-card-title  (click)="pushPage(car.id)">{{car.title}}</ion-card-title>
                    <div class="shareicon">
                    <button ion-button icon-only (click)="whatsappShare(i)" style="color:green" clear>
                      <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                    </button>
                    <!--<button ion-button icon-only (click)="facebookShare(i)" style="color:blue" clear>
                      <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
                    </button>-->
                    <button ion-button icon-only (click)="twitterShare(i)" style="color:blue" clear>
                      <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                    </button>
                  </div>
            </ion-col>
          </ion-row> 
          </ion-card>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event,115)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </div>
    </div>
    <div [ngSwitch]="type_tab">
      <div class="weapper" *ngSwitchCase="'world'" style="padding-top:5px;">
        <ion-card *ngFor="let car of newsList,let i = index;">
          <ion-row style="text-align: center;" >
            <ion-col col-5 [ngStyle]="{'background-image': 'url(' + car?.image + ')','background-size':'cover'}">
            </ion-col>
            <ion-col col-7>
              <ion-card-title (click)="pushPage(car.id)">{{car.title}}</ion-card-title>
                    <div class="shareicon">
                    <button ion-button icon-only (click)="whatsappShare(i)" style="color:green" clear>
                      <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                    </button>
                    <!--<button ion-button icon-only (click)="facebookShare(i)" style="color:blue" clear>
                      <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
                    </button>-->
                    <button ion-button icon-only (click)="twitterShare(i)" style="color:blue" clear>
                      <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                    </button>
                  </div>
            </ion-col>
          </ion-row> 
          </ion-card>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event,121)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </div>
    </div>
    <div [ngSwitch]="type_tab">
      <div class="weapper" *ngSwitchCase="'sports'" style="padding-top: 5px;">
        <ion-card *ngFor="let car of newsList,let i = index;">
          <ion-row style="text-align: center;" >
            <ion-col col-5 [ngStyle]="{'background-image': 'url(' + car?.image + ')','background-size':'cover'}">
            </ion-col>
            <ion-col col-7>
              <ion-card-title  (click)="pushPage(car.id)">{{car.title}}</ion-card-title>
                    <div class="shareicon">
                    <button ion-button icon-only (click)="whatsappShare(i)" style="color:green" clear>
                      <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                    </button>
                    <!--<button ion-button icon-only (click)="facebookShare(i)" style="color:blue" clear>
                      <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
                    </button>-->
                    <button ion-button icon-only (click)="twitterShare(i)" style="color:blue" clear>
                      <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                    </button>
                  </div>
            </ion-col>
          </ion-row> 
          </ion-card>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event,120)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </div>
    </div>
</ion-content>
