
<ion-header>
  <ion-navbar>
    <ion-title>detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let car of newsList,let i = index;">
    <iframe width="100%" height="320" [src]="car.content" frameborder="0" allowfullscreen></iframe>
    <div>
      <div class="title">{{car.title}}</div>
    </div>
  </div>
</ion-content>
