page-detail {
    .content-md{
        background-color:#F0F2F5;
        .title{
            padding-top:10px;
            font-size:20px;
            font-weight: bold;
            padding-bottom:10px;
        }
        .content{
            font-size:15px;
        }
    }
}
