
<ion-header>
  <ion-navbar>
    <ion-title>detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let car of newsList,let i = index;">
    <div [ngStyle]="{'background-image': 'url(' + car?.image + ')','background-size':'cover','height':'173px'}"></div>
    <div>
      
        <div class="title">{{car.title}}</div>
        <div class="item item-text-wrap" [innerHTML]="car.content"> 
        </div>

    </div>
   

  </div>
</ion-content>
