page-video {
    .content-md{
        background-color:#F0F2F5;
        .card-title-md{
          font-size:15px;
        }
        .button-md{
            height:17px !important;
            ion-icon{
              padding-left:0px !important;
              font-size:18px !important;
            }
        }
        ion-card-title{
          font-size:12px;
          font-weight:bold;
        }
        ion-card{
          border-radius:14px;
        }

        .segment-md .segment-button{
          padding-left:2px !important;
          padding-right:2px !important;
        }

      }
}
