<ion-header>
  <ion-navbar>
    <ion-title>
      Video
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let car of newsList,let i = index;">
    <ion-row style="text-align: center;" >
      <ion-col col-5 [ngStyle]="{'background-image': 'url(' + car?.image + ')','background-size':'cover'}">
      </ion-col>
      <ion-col col-7>
        <ion-card-title (click)="pushPage(car.id)">{{car.title}}</ion-card-title>
              <div class="shareicon">
              <button ion-button icon-only (click)="whatsappShare(i)" style="color:green" clear>
                <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
              </button>
              <!--<button ion-button icon-only (click)="facebookShare(i)" style="color:blue" clear>
                <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
              </button>-->
              <button ion-button icon-only (click)="twitterShare(i)" style="color:blue" clear>
                <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
              </button>
            </div>
      </ion-col>
    </ion-row> 
    </ion-card>
</ion-content>
